USE [master]
GO
/****** Object:  Database [DuplStart]    Script Date: 28.05.2022 17:35:51 ******/
CREATE DATABASE [DuplStart]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DuplStart', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\DuplStart.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DuplStart_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\DuplStart_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DuplStart].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DuplStart]
GO
/****** Object:  Table [dbo].[Education]    Script Date: 28.05.2022 17:35:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Education](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[InstituteName] [nvarchar](150) NOT NULL,
	[DateEnd] [date] NOT NULL,
	[DiplomaSpecialty] [nvarchar](50) NOT NULL,
	[TeacherId] [int] NOT NULL,
 CONSTRAINT [PK_Education_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LearnerAchievements]    Script Date: 28.05.2022 17:35:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LearnerAchievements](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NameStudent] [nvarchar](50) NOT NULL,
	[SurnameStudent] [nvarchar](50) NOT NULL,
	[Class] [nvarchar](50) NOT NULL,
	[AreasOfActivity] [nvarchar](150) NOT NULL,
	[Date] [date] NOT NULL,
	[Image] [varbinary](max) NULL,
	[TeacherId] [int] NOT NULL,
 CONSTRAINT [PK_Student Achievements] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ParticipationGMO]    Script Date: 28.05.2022 17:35:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ParticipationGMO](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Date] [date] NOT NULL,
	[Event] [nvarchar](50) NOT NULL,
	[TeacherId] [int] NOT NULL,
	[Image] [varbinary](max) NULL,
 CONSTRAINT [PK_Participation in GMOs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProfessionalDevelopment]    Script Date: 28.05.2022 17:35:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProfessionalDevelopment](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[StartDate] [date] NOT NULL,
	[LocationCoursework] [nvarchar](250) NOT NULL,
	[Name] [nvarchar](250) NOT NULL,
	[TeacherId] [int] NOT NULL,
	[EndDate] [date] NOT NULL,
 CONSTRAINT [PK_Professional Development] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 28.05.2022 17:35:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Specialization]    Script Date: 28.05.2022 17:35:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Specialization](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
 CONSTRAINT [PK_Education] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Teacher]    Script Date: 28.05.2022 17:35:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teacher](
	[Id] [int] NOT NULL,
	[Adress] [nvarchar](50) NOT NULL,
	[Phone] [nvarchar](50) NOT NULL,
	[Surname] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Patronymic] [nvarchar](50) NOT NULL,
	[Passport] [nvarchar](50) NOT NULL,
	[DateOfBirth] [date] NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Image] [varbinary](max) NULL,
	[Court_Certificate] [varbinary](max) NOT NULL,
	[Drugs_Certificate] [varbinary](max) NOT NULL,
 CONSTRAINT [PK_Prepodavatel] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 28.05.2022 17:35:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Login] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[RoleId] [int] NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Education] ON 

INSERT [dbo].[Education] ([Id], [InstituteName], [DateEnd], [DiplomaSpecialty], [TeacherId]) VALUES (1, N'Высшее педагогическое образование', CAST(N'2015-06-03' AS Date), N'Учитель средней квалификации', 1)
SET IDENTITY_INSERT [dbo].[Education] OFF
GO
SET IDENTITY_INSERT [dbo].[LearnerAchievements] ON 

INSERT [dbo].[LearnerAchievements] ([ID], [NameStudent], [SurnameStudent], [Class], [AreasOfActivity], [Date], [Image], [TeacherId]) VALUES (1, N'Артём', N'Борзенко', N'6A', N'Олимпиада по математике проекта "Инфоурок"', CAST(N'2022-03-03' AS Date), NULL, 1)
INSERT [dbo].[LearnerAchievements] ([ID], [NameStudent], [SurnameStudent], [Class], [AreasOfActivity], [Date], [Image], [TeacherId]) VALUES (5, N'Николай', N'Берегов', N'5А', N'Футбол', CAST(N'2022-05-05' AS Date), NULL, 1)
SET IDENTITY_INSERT [dbo].[LearnerAchievements] OFF
GO
SET IDENTITY_INSERT [dbo].[ParticipationGMO] ON 

INSERT [dbo].[ParticipationGMO] ([Id], [Date], [Event], [TeacherId], [Image]) VALUES (1, CAST(N'2022-05-02' AS Date), N'IPK Media', 1, NULL)
INSERT [dbo].[ParticipationGMO] ([Id], [Date], [Event], [TeacherId], [Image]) VALUES (19, CAST(N'2022-05-28' AS Date), N'dsd', 1, NULL)
SET IDENTITY_INSERT [dbo].[ParticipationGMO] OFF
GO
SET IDENTITY_INSERT [dbo].[ProfessionalDevelopment] ON 

INSERT [dbo].[ProfessionalDevelopment] ([ID], [StartDate], [LocationCoursework], [Name], [TeacherId], [EndDate]) VALUES (1, CAST(N'2022-04-03' AS Date), N'ГАОУ ДПО «Институт развития образования Республики Татарстан» г. Казань', N'Курсы повышения квалификации по программе «Педагогические технологии и конструирование образовательного и воспитательного процесса в условиях реализации ФГОС (в предметной области «Физическая культура и ОБЖ» и «Технология»)', 1, CAST(N'2022-05-03' AS Date))
SET IDENTITY_INSERT [dbo].[ProfessionalDevelopment] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([Id], [Name]) VALUES (1, N'Admin')
INSERT [dbo].[Role] ([Id], [Name]) VALUES (2, N'Prepod')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[Specialization] ON 

INSERT [dbo].[Specialization] ([Id], [Name]) VALUES (1, N'Математика')
INSERT [dbo].[Specialization] ([Id], [Name]) VALUES (2, N'ОБЖ')
INSERT [dbo].[Specialization] ([Id], [Name]) VALUES (3, N'Русский язык')
SET IDENTITY_INSERT [dbo].[Specialization] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([Id], [Login], [Password], [RoleId]) VALUES (1, N'1', N'1', 1)
INSERT [dbo].[User] ([Id], [Login], [Password], [RoleId]) VALUES (2, N'2', N'2', 2)
INSERT [dbo].[User] ([Id], [Login], [Password], [RoleId]) VALUES (3, N'3', N'3', 2)
SET IDENTITY_INSERT [dbo].[User] OFF
GO
ALTER TABLE [dbo].[Education]  WITH CHECK ADD  CONSTRAINT [FK_Education_Prepodavatel1] FOREIGN KEY([TeacherId])
REFERENCES [dbo].[Teacher] ([Id])
GO
ALTER TABLE [dbo].[Education] CHECK CONSTRAINT [FK_Education_Prepodavatel1]
GO
ALTER TABLE [dbo].[LearnerAchievements]  WITH CHECK ADD  CONSTRAINT [FK_LearnerAchievements_Prepodavatel] FOREIGN KEY([TeacherId])
REFERENCES [dbo].[Teacher] ([Id])
GO
ALTER TABLE [dbo].[LearnerAchievements] CHECK CONSTRAINT [FK_LearnerAchievements_Prepodavatel]
GO
ALTER TABLE [dbo].[ParticipationGMO]  WITH CHECK ADD  CONSTRAINT [FK_Participation in GMOs_Prepodavatel] FOREIGN KEY([TeacherId])
REFERENCES [dbo].[Teacher] ([Id])
GO
ALTER TABLE [dbo].[ParticipationGMO] CHECK CONSTRAINT [FK_Participation in GMOs_Prepodavatel]
GO
ALTER TABLE [dbo].[ProfessionalDevelopment]  WITH CHECK ADD  CONSTRAINT [FK_Professional Development_Prepodavatel] FOREIGN KEY([TeacherId])
REFERENCES [dbo].[Teacher] ([Id])
GO
ALTER TABLE [dbo].[ProfessionalDevelopment] CHECK CONSTRAINT [FK_Professional Development_Prepodavatel]
GO
ALTER TABLE [dbo].[Teacher]  WITH CHECK ADD  CONSTRAINT [FK_Teacher_User] FOREIGN KEY([Id])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[Teacher] CHECK CONSTRAINT [FK_Teacher_User]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Role] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([Id])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Role]
GO
USE [master]
GO
